{% from 'content.j2' import render_info %}


{% macro search_box(
    form,
    placeholder='Search the ODP catalogue'
) %}
    <form action="{{ url_for('catalog.search') }}" method="post">
        {{ form.csrf_token }}
        <div class="bg-white rounded-pill p-1 px-3 border border-secondary">
            <div class="input-group">
                {{ form.q(
                    class='form-control bg-transparent border-0 shadow-none',
                    placeholder=placeholder,
                    autofocus=''
                ) }}
                <button type="submit" class="btn p-1">
                    &#128269;
                </button>
            </div>
        </div>
    </form>
{% endmacro %}


{% macro filtered_search_proxy(
    form
) %}
    <div class="form-control p-1 pe-2 mb-4">
        <div class="input-group">
            {{ form.q(
                id='q-proxy',
                class='form-control bg-transparent border-0 shadow-none',
                placeholder='Enter search terms...'
            ) }}
            <button id="q-proxy-btn" onclick="execFilteredSearchProxy();" class="btn p-1">
                &#128269;
            </button>
        </div>
    </div>
{% endmacro %}


{% macro filter_panel(
    form,
    facet_fields,
    result_facets,
    show_search=false,
    endpoint='.index'
) %}
    {# Render filtering and faceting panel.
       Query params can be passed via kwargs.
    #}
    {% set _ = kwargs.pop('page', none) %}

    <form action="{{ url_for('catalog.search') }}" method="post">
        {{ form.csrf_token }}

        {% if show_search %}
            <div class="form-control p-0 pe-2 mb-4">
                <div class="input-group">
                    {{ form.q(
                        class='form-control bg-transparent border-0 shadow-none',
                        placeholder='Enter search terms...'
                    ) }}
                    <button type="submit" onclick="setFilter();" class="btn p-1">
                        &#128269;
                    </button>
                </div>
            </div>
        {% else %}
            {{ form.q(type='hidden') }}
        {% endif %}

        <div class="mb-4">
            <p class="fw-bold mb-2">
                Filter by location
            </p>
            <div id="map"></div>
            <small class="form-check mt-2">
                {{ form.exclusive_region(class='form-check-input') }}
                {{ form.exclusive_region.label(class='form-check-label') }}
            </small>
            {% for bound in 'n', 'e', 's', 'w' %}
                {{ form[bound](type='hidden') }}
            {% endfor %}
        </div>

        <div class="mb-4">
            <p class="fw-bold mb-2">
                Filter by date range
            </p>
            {{ form.after.label(class='form-label') }}
            {{ form.after(class='form-control mb-2') }}
            {{ form.before.label(class='form-label') }}
            {{ form.before(class='form-control mb-2') }}
            <small class="form-check">
                {{ form.exclusive_interval(class='form-check-input') }}
                {{ form.exclusive_interval.label(class='form-check-label') }}
            </small>
        </div>

        <button type="submit" onclick="setFilter();" class="btn btn-outline-primary btn-action"
                title="Apply filters" id="apply-filter">
            Apply
        </button>

        <button type="submit" onclick="clearFilter();" class="btn btn-outline-primary btn-action"
                title="Clear filters">
            Clear
        </button>

        {% for facet_field in facet_fields.values() %}
            {{ form[facet_field](type='hidden') }}
        {% endfor %}
    </form>

    <div class="accordion mt-5">
        {% for facet_title, facet_field in facet_fields.items() %}
            {% set facet_id = 'facet-' + loop.index|string %}

            <div class="accordion-item my-5">
                <h5 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ facet_id }}">
                        {{ facet_title }}
                    </button>
                </h5>

                <div id="{{ facet_id }}" class="accordion-collapse collapse show">
                    <div class="accordion-body overflow-auto" style="max-height:72vh">
                        {% for facet_value, count in result_facets[facet_title] | sort %}
                            <p class="card-text">
                                {% set query = dict(kwargs) %}

                                {% if query.get(facet_field) == facet_value %}
                                    {% set _ = query.pop(facet_field) %}
                                    <span class="fw-bold">{{ facet_value }} ({{ count }})</span>
                                    <a href="{{ url_for(endpoint, **query) }}" class="text-decoration-none fs-5">
                                        &#10005;
                                    </a>

                                {% else %}
                                    {% set _ = query.update({facet_field: facet_value}) %}
                                    <a href="{{ url_for(endpoint, **query) }}" class="text-underline-hover">
                                        {{ facet_value }}
                                    </a>
                                    <span>({{ count }})</span>

                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro result_list(
    records
) %}
    {% for record in records %}
        {% set metadata = record | select_datacite_metadata %}
        {% set abstract = metadata.descriptions | selectattr('descriptionType', '==', 'Abstract') | map(attribute='description') | first %}

        <div class="card mb-4">
            <div class="card-header">
                {% if record.doi %}
                    DOI: {{ record.doi }}
                {% else %}
                    (No DOI)
                {% endif %}
            </div>

            <div class="card-body">
                <h5 class="card-title ">
                    <a href="{{ url_for('catalog.view', id=record.doi or record.id) }}"
                       class="text-decoration-none text-dark fw-bold">
                        {{ metadata.titles[0].title }}
                    </a>
                </h5>
                <p class="card-text">
                    {{ abstract | truncate(500) }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro render_metadata(
    record
) %}
    {% set datacite_metadata = record | select_datacite_metadata %}  {# always present #}
    {% set iso19115_metadata = record | select_iso19115_metadata %}  {# might be null #}
    {% set N, E, S, W = record.spatial_north, record.spatial_east, record.spatial_south, record.spatial_west %}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            {#<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">#}
            <div class="nav-link active">
                {% if record.doi %}
                    DOI:
                    <span class="user-select-all">
                        {{- record.doi -}}
                    </span>
                {% else %}
                    No DOI
                {% endif %}
            </div>
            {#</button>#}
        </li>
    </ul>

    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% set props = ['Title'] %}

            {% if iso19115_metadata and iso19115_metadata.descriptiveKeywords %}
                {% set theme = iso19115_metadata.descriptiveKeywords |
                               selectattr('keywordType', '==', 'theme') |
                               map(attribute='keyword') | first %}
                {% if theme %}
                    {% set props = props + ['Project'] %}
                {% endif %}
            {% endif %}

            {% set props = props + ['Authors', 'Publisher', 'Contributors'] %}

            {% set abstract = datacite_metadata.descriptions |
                              selectattr('descriptionType', '==', 'Abstract') |
                              map(attribute='description') | first %}
            {% if abstract %}
                {% set props = props + ['Abstract'] %}
            {% endif %}

            {% set methods = datacite_metadata.descriptions |
                             selectattr('descriptionType', '==', 'Methods') |
                             map(attribute='description') | first %}
            {% if methods %}
                {% set props = props + ['Methods'] %}
            {% endif %}

            {% set props = props + ['Data', 'Temporal extent', 'Geographic extent'] %}

            {% set vertical -%}
                {% if iso19115_metadata and iso19115_metadata.extent.verticalElement %}
                    {% set vert = iso19115_metadata.extent.verticalElement %}
                    Max: {{ vert.maximumValue }} {{ vert.unitOfMeasure }} <br/>
                    Min: {{ vert.minimumValue }} {{ vert.unitOfMeasure }}
                {% endif %}
            {%- endset %}
            {% if vertical %}
                {% set props = props + ['Vertical extent'] %}
            {% endif %}

            {% set props = props + ['Keywords'] %}

            {% call(prop) render_info(record, properties=props, hide_id=True) %}
                {% if prop == 'Title' %}
                    <strong>{{ datacite_metadata.titles[0].title }}</strong>

                {% elif prop == 'Project' %}
                    {{ theme }}

                {% elif prop == 'Authors' %}
                    {% for creator in datacite_metadata.creators %}
                        <p>{{ creator.name }}<br/>
                            <small>{{ creator.affiliation | map(attribute='affiliation') | join('<br/>') | safe }}</small>
                        </p>
                    {% endfor %}

                {% elif prop == 'Contributors' %}
                    {% for contributor in datacite_metadata.contributors %}
                        <p>{{ contributor.contributorType | datacite_enum }}: {{ contributor.name }}<br/>
                            <small>{{ contributor.affiliation | map(attribute='affiliation') | join('<br/>') | safe }}</small>
                        </p>
                    {% endfor %}

                {% elif prop == 'Abstract' %}
                    {{ abstract }}

                {% elif prop == 'Methods' %}
                    {{ methods }}

                {% elif prop == 'Temporal extent' %}
                    {% if record.temporal_start %}
                        {{ record.temporal_start | date }}
                        {% if record.temporal_end %}
                            &ndash; {{ record.temporal_end | date }}
                        {% endif %}
                    {% endif %}

                {% elif prop == 'Geographic extent' %}
                    <div id="map"></div>
                    {% for place in datacite_metadata.geoLocations | map(attribute='geoLocationPlace') %}
                        <p class="mt-3">
                            {{ place }}
                        </p>
                    {% endfor %}
                    {% if N is not none and E is not none and S is not none and W is not none %}
                        <p class="mt-3">
                            {% if N == S and E == W %}
                                Lat: {{ N }}<br/>
                                Lon: {{ E }}
                            {% else %}
                                North: {{ N }}<br/>
                                South: {{ S }}<br/>
                                West: {{ W }}<br/>
                                East: {{ E }}
                            {% endif %}
                        </p>
                    {% endif %}

                {% elif prop == 'Vertical extent' %}
                    {{ vertical }}

                {% elif prop == 'Publisher' %}
                    {{ datacite_metadata.publisher }} ({{ datacite_metadata.publicationYear }})

                {% elif prop == 'Keywords' %}
                    {{ record.keywords | join(', ') }}

                {% elif prop == 'Data' %}
                    <div class="d-flex justify-content-between">
                        <a href="{{ datacite_metadata.rightsList[0].rightsURI }}" target="_blank">
                            {{ datacite_metadata.rightsList[0].rights }}
                        </a>
                        {% if datacite_metadata.immutableResource and datacite_metadata.immutableResource.resourceDownload %}
                            <a href="{{ datacite_metadata.immutableResource.resourceDownload.downloadURL }}" class="btn btn-primary">
                                Download
                            </a>
                        {% endif %}
                    </div>

                {% endif %}
            {% endcall %}
        </div>
    </div>
{% endmacro %}
