{% macro search_box(form, placeholder) %}
    <form action="{{ url_for('catalog.search') }}" method="post">
        {{ form.csrf_token }}
        <div class="bg-white rounded-pill p-1 px-3 border border-secondary">
            <div class="input-group">
                {{ form.q(
                    class='form-control bg-transparent border-0 shadow-none',
                    placeholder=placeholder,
                    autofocus=''
                ) }}
                <button type="submit" class="btn p-1">
                    &#128269;
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro filter_panel(form, placeholder) %}
    <form action="{{ url_for('catalog.search') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-control p-0 pe-2 mb-4">
            <div class="input-group">
                {{ form.q(
                    class='form-control bg-transparent border-0 shadow-none',
                    placeholder='Enter search terms...'
                ) }}
                <button type="submit" class="btn p-1">
                    &#128269;
                </button>
            </div>
        </div>

        <p class="fw-bold mb-2">Filter by location</p>
        <div id="map" class="mb-4"></div>
        <input id="n" type="hidden" value="{{ form.n.data or '' }}">
        <input id="e" type="hidden" value="{{ form.e.data or '' }}">
        <input id="s" type="hidden" value="{{ form.s.data or '' }}">
        <input id="w" type="hidden" value="{{ form.w.data or '' }}">

        <p class="fw-bold mb-2">Filter by date range</p>
        <div class="d-flex mb-4">
            {{ form.after(class='form-control me-2') }}
            {{ form.before(class='form-control ms-2') }}
        </div>

        <button type="submit" class="btn btn-outline-primary btn-action">
            Apply
        </button>
    </form>
{% endmacro %}

{% macro result_set(result) %}
    {% for record in result['items'] %}
        {% set metadata = record | select_datacite_metadata %}
        {% set abstract = metadata.descriptions | selectattr('descriptionType', '==', 'Abstract') | map(attribute='description') | first %}

        <div class="card mb-4">
            <div class="card-header">
                {{ record.doi or '(No DOI)' }}
            </div>

            <div class="card-body">
                <h5 class="card-title ">
                    <a href="{{ url_for('catalog.view', id=record.doi or record.id) }}"
                       class="text-decoration-none text-dark fw-bold">
                        {{ metadata.titles[0].title }}
                    </a>
                </h5>
                <p class="card-text">
                    {{ abstract | truncate(500) }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
