{% macro search_box(
    form,
    placeholder='Search the ODP catalogue'
) %}
    <form action="{{ url_for('catalog.search') }}" method="post">
        {{ form.csrf_token }}
        <div class="bg-white rounded-pill p-1 px-3 border border-secondary">
            <div class="input-group">
                {{ form.q(
                    class='form-control bg-transparent border-0 shadow-none',
                    placeholder=placeholder,
                    autofocus=''
                ) }}
                <button type="submit" class="btn p-1">
                    &#128269;
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro filtered_search_proxy(
    form
) %}
    <div class="form-control p-1 pe-2 mb-4">
        <div class="input-group">
            {{ form.q(
                id='q-proxy',
                class='form-control bg-transparent border-0 shadow-none',
                placeholder='Enter search terms...'
            ) }}
            <button id="q-proxy-btn" onclick="execFilteredSearchProxy();" class="btn p-1">
                &#128269;
            </button>
        </div>
    </div>
{% endmacro %}

{% macro filter_panel(
    form,
    show_search=false
) %}
    <form action="{{ url_for('catalog.search') }}" method="post">
        {{ form.csrf_token }}

        {% if show_search %}
            <div class="form-control p-0 pe-2 mb-4">
                <div class="input-group">
                    {{ form.q(
                        class='form-control bg-transparent border-0 shadow-none',
                        placeholder='Enter search terms...'
                    ) }}
                    <button type="submit" onclick="setFilter();" class="btn p-1">
                        &#128269;
                    </button>
                </div>
            </div>
        {% else %}
            {{ form.q(type='hidden') }}
        {% endif %}

        <div class="mb-4">
            <p class="fw-bold mb-2">
                Filter by location
            </p>
            <div id="map"></div>
            <small class="form-check mt-2">
                {{ form.exclusive_region(class='form-check-input') }}
                {{ form.exclusive_region.label(class='form-check-label') }}
            </small>
            {% for bound in 'n', 'e', 's', 'w' %}
                {{ form[bound](type='hidden') }}
            {% endfor %}
        </div>

        <div class="mb-4">
            <p class="fw-bold mb-2">
                Filter by date range
            </p>
            {{ form.after.label(class='form-label') }}
            {{ form.after(class='form-control mb-2') }}
            {{ form.before.label(class='form-label') }}
            {{ form.before(class='form-control mb-2') }}
            <small class="form-check">
                {{ form.exclusive_interval(class='form-check-input') }}
                {{ form.exclusive_interval.label(class='form-check-label') }}
            </small>
        </div>

        <button type="submit" onclick="setFilter();" class="btn btn-outline-primary btn-action"
                title="Apply filters", id="apply-filter">
            Apply
        </button>

        <button type="submit" onclick="clearFilter();" class="btn btn-outline-primary btn-action"
                title="Clear all filters">
            Clear
        </button>
    </form>
{% endmacro %}

{% macro facet_panel(
    facets,
    facet_dict,
    query,
    endpoint='.index'
) %}
    <div class="accordion mt-5">
        {% for facet in facets %}
            <div class="accordion-item my-5">
                <h5 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#facet-{{ loop.index }}">
                        {{ facet }}
                    </button>
                </h5>
                <div id="facet-{{ loop.index }}" class="accordion-collapse collapse show">
                    <div class="accordion-body overflow-auto" style="max-height:72vh">
                        {% for value, count in facet_dict[facet] %}
                            <p class="card-text">
                                <a href="{{ url_for(endpoint, facet=facet, value=value) }}{{ query }}" class="text-underline-hover">
                                    {{ value -}}
                                </a><span>: {{ count }}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro record_list(
    records
) %}
    {% for record in records %}
        {% set metadata = record | select_datacite_metadata %}
        {% set abstract = metadata.descriptions | selectattr('descriptionType', '==', 'Abstract') | map(attribute='description') | first %}

        <div class="card mb-4">
            <div class="card-header">
                {{ record.doi or '(No DOI)' }}
            </div>

            <div class="card-body">
                <h5 class="card-title ">
                    <a href="{{ url_for('catalog.view', id=record.doi or record.id) }}"
                       class="text-decoration-none text-dark fw-bold">
                        {{ metadata.titles[0].title }}
                    </a>
                </h5>
                <p class="card-text">
                    {{ abstract | truncate(500) }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
