{% macro check_all(
    right=false
) %}
    <div class="form-check {% if right %}form-check-reverse{% endif %}">
        <input class="form-check-input" type="checkbox" value="" id="check-all"
               onchange="checkAll();">
        <label class="form-check-label" for="check-all"></label>
    </div>
{% endmacro %}

{% macro check_item(
    item_id
) %}
    <input class="form-check-input" type="checkbox" value="" id="check-item-{{ item_id }}"
           onchange="checkItem();">
{% endmacro %}
