{% macro bootstrap_js() %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha256-lSABj6XYH05NydBq+1dvkMu6uiCc/MbLYOFGRkf3iQs=" crossorigin="anonymous"></script>
{% endmacro %}

{% macro bootswatch_spacelab_css() %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/spacelab/bootstrap.min.css"
          integrity="sha256-OSaKKgxp4MKyV04Q0kjXJ/T84VSrmEY6tFtQeM7NRH8=" crossorigin="anonymous">
{% endmacro %}

{% macro bootswatch_superhero_css() %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/superhero/bootstrap.min.css"
          integrity="sha256-g1apt3G+ydDNjFwZ0xPjFj+mWdXjzjJCidBJCV8SfV8=" crossorigin="anonymous">
{% endmacro %}

{% macro bootswatch_flatly_css() %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/flatly/bootstrap.min.css"
          integrity="sha256-+omx7xYvI+/C0kfnQmjAIW8dDbTweWpbYHWzveX4ii4=" crossorigin="anonymous">
{% endmacro %}

{% macro jquery_js() %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
{% endmacro %}

{% macro leaflet_css() %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@raruto/leaflet-gesture-handling@1.4.3/dist/leaflet-gesture-handling.min.css"
          integrity="sha256-os007QHTX7x9PtpBZ2YhspWTQRzDAApgb6g8UKlAw6U=" crossorigin="anonymous">
{% endmacro %}

{% macro leaflet_js() %}
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@raruto/leaflet-gesture-handling@1.4.3/dist/leaflet-gesture-handling.min.js"
            integrity="sha256-n46X55zWAEGuiNw1uLAZzC9eHfHto1T4xB1rWWvdSGs=" crossorigin="anonymous"></script>
{% endmacro %}
