{% macro nav_logo(
    image='saeon-logo.png',
    url='https://www.saeon.ac.za/',
    right=false
) %}
    <div class="my-2 {{ 'text-end' if right }}">
        {% if url %}
            <a href="{{ url }}" target="_blank">
                <img src="{{ url_for('static', filename='images/' + image) }}" height="55">
            </a>
        {% else %}
            <img src="{{ url_for('static', filename='images/' + image) }}" height="55">
        {% endif %}
    </div>
{% endmacro %}

{% macro nav_title(
    current_user,
    active_view,
    title='SAEON Open Data Platform',
    title_view='home'
) %}
    {# Render the app title.
        Pass view='Title' pairs via kwargs to enable rendering the active view title.
    #}
    {% if title_view %}
        <a href="{{ url_for(title_view + '.index') }}" class="navbar-brand m-0">
            {{ title }}
        </a>
    {% else %}
        <span class="navbar-brand m-0">
            {{ title }}
        </span>
    {% endif %}

    {% if active_view in kwargs %}
        <span class="navbar-text pb-1">{{ kwargs[active_view] }}</span>
    {% elif active_view == title_view and current_user and current_user.is_authenticated %}
        <span class="navbar-text pb-1">Welcome, {{ current_user.name }}</span>
    {% endif %}
{% endmacro %}

{% macro nav_menu(
    current_user,
    active_view,
    dark=false,
    right=true,
    wiki=true
    ) %}
    {# Render a hamburger menu, optionally with view index page links.
        Pass view='Title' pairs via kwargs; _='' for a divider.
    #}
    <div class="nav-item dropdown">
        <a class="nav-link {{ 'text-end' if right }}" data-bs-toggle="dropdown" href="#" role="button">
            <span class="navbar-toggler-icon"></span>
        </a>

        <ul class="dropdown-menu {{ 'dropdown-menu-dark' if dark }} {{ 'dropdown-menu-end' if right }}">
            {% if current_user %}
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('hydra.logout') }}" class="dropdown-item">
                        Log out {{ current_user.email }}
                    </a></li>
                {% else %}
                    <li><a href="{{ url_for('hydra.login') }}" class="dropdown-item">
                        Log in
                    </a></li>
                {% endif %}
                {% if kwargs or wiki %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}
            {% endif %}

            {{ _nav_dropdown_links(**kwargs) }}

            {% if wiki %}
                {% if kwargs %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}
                <li><a href="https://odpwiki.saeon.ac.za/" target="_blank" class="dropdown-item">
                    ODP Wiki
                </a></li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

{% macro nav_dropdown(
    menu_title,
    active_view,
    dark=false,
    right=false
) %}
    {# Render a dropdown menu of view index page links.
        Pass view='Title' pairs via kwargs; _='' for a divider.
    #}
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pb-1" data-bs-toggle="dropdown" href="#" role="button">
                {{ menu_title }}
            </a>
            <ul class="dropdown-menu {{ 'dropdown-menu-dark' if dark }} {{ 'dropdown-menu-end' if right }}">
                {{ _nav_dropdown_links(highlight=active_view, **kwargs) }}
            </ul>
        </li>
    </ul>
{% endmacro %}

{% macro _nav_dropdown_links(
    highlight=none
) %}
    {% for view, title in kwargs.items() %}
        {% if view == '_' %}
            <li>
                <hr class="dropdown-divider">
            </li>
        {% else %}
            <li><a href="{{ url_for(view + '.index') }}"
                   class="dropdown-item {{ 'active' if highlight == view }}">
                {{ title }}
            </a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro flash_messages() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                    {% set category = 'primary' %}
                {% elif category == 'error' %}
                    {% set category = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro footer(
    color='transparent',
    hr=true,
    pad=4
) %}
    <footer class="text-center mt-4 pb-{{ pad }} bg-{{ color }}">
        {% if hr %}
            <hr class="m-0"/>
        {% endif %}
        <div class="mt-{{ pad }}"></div>
        <small>
            ODP v{{ config.ODP_VERSION }}
        </small>
        <br/>
        <small>
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            <a href="https://www.saeon.ac.za/" target="_blank" class="text-decoration-none">
                SAEON
            </a>
        </small>
        <br/>
        <small>
            <a href="https://www.nrf.ac.za/privacy-policy/" target="_blank" class="text-decoration-none">
                NRF Privacy Policy
            </a>
        </small>
    </footer>
{% endmacro %}
