{% macro nav_logo(
    file='saeon-logo.png',
    url='https://www.saeon.ac.za/',
    right=False
) %}
    <div class="my-2 {{ 'text-end' if right }}">
        {% if url %}
            <a href="{{ url }}" target="_blank">
                <img src="{{ url_for('static', filename=file) }}" height="55">
            </a>
        {% else %}
            <img src="{{ url_for('static', filename=file) }}" height="55">
        {% endif %}
    </div>
{% endmacro %}

{% macro nav_title(
    title='SAEON Open Data Platform',
    endpoint='home.index',
    user=None
) %}
    {% if endpoint %}
        <a href="{{ url_for(endpoint) }}" class="navbar-brand m-0">
            {{ title }}
        </a>
    {% else %}
        <span class="navbar-brand m-0">
            {{ title }}
        </span>
    {% endif %}
    {% if user and user.is_authenticated %}
        <span class="navbar-text pb-1">Welcome, {{ user.name }}</span>
    {% endif %}
{% endmacro %}

{% macro nav_menu(
    wiki=True,
    user=None,
    right=True,
    dark=False
) %}
    <div class="nav-item dropdown">
        <a class="nav-link {{ 'text-end' if right }}" data-bs-toggle="dropdown" href="#" role="button">
            <span class="navbar-toggler-icon"></span>
        </a>
        <ul class="dropdown-menu {{ 'dropdown-menu-end' if right }} {{ 'dropdown-menu-dark' if dark }}">
            {% if user %}
                {% if user.is_authenticated %}
                    <li><a href="{{ url_for('hydra.logout') }}" class="dropdown-item">
                        Log out {{ user.email }}
                    </a></li>
                {% else %}
                    <li><a href="{{ url_for('hydra.login') }}" class="dropdown-item">
                        Log in
                    </a></li>
                {% endif %}
            {% endif %}
            {% if user and wiki %}
                <li>
                    <hr class="dropdown-divider">
                </li>
            {% endif %}
            {% if wiki %}
                <li><a href="https://odpwiki.saeon.ac.za/" target="_blank" class="dropdown-item">
                    ODP Wiki
                </a></li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

{% macro nav_views(title, current_view, dark=True) %}
    {# Render a dropdown menu linking to view index pages.
       Use kwargs to pass view='Name' pairs; _='' for a divider.
    #}
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pb-1" data-bs-toggle="dropdown" href="#" role="button">
                {{ title }}
            </a>
            <ul class="dropdown-menu {{ 'dropdown-menu-dark' if dark }}">
                {% for view, name in kwargs.items() %}
                    {% set active = current_view == view %}
                    {% if view == '_' %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    {% else %}
                        <li><a class="dropdown-item {{ 'active' if active }}" href="{{ url_for(view + '.index') }}">
                            {{ name }}
                        </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endmacro %}

{% macro flash_messages() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                    {% set category = 'primary' %}
                {% elif category == 'error' %}
                    {% set category = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro footer(
    color='transparent',
    hr=True,
    pad=4
) %}
    <footer class="text-center mt-4 pb-{{ pad }} bg-{{ color }}">
        {% if hr %}
            <hr class="m-0"/>
        {% endif %}
        <div class="mt-{{ pad }}"></div>
        <small>
            ODP v{{ config.ODP_VERSION }}
        </small>
        <br/>
        <small>
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            <a href="https://www.saeon.ac.za/" target="_blank" class="text-decoration-none">
                SAEON
            </a>
        </small>
        <br/>
        <small>
            <a href="https://www.nrf.ac.za/privacy-policy/" target="_blank" class="text-decoration-none">
                NRF Privacy Policy
            </a>
        </small>
    </footer>
{% endmacro %}
