{% extends 'base.html' %}
{% from 'content.j2' import render_info %}

{% set datacite_metadata = record | select_datacite_metadata %}
{% set iso19115_metadata = record | select_iso19115_metadata %}

{% set N, E, S, W = record.spatial_north, record.spatial_east, record.spatial_south, record.spatial_west %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {{ datacite_metadata.titles[0].title }}
    {% endblock %}
{% endblock %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-md">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                        Digital Object Record
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane fade show active" role="tabpanel">
                    {% call(prop) render_info(record,
                        'Title',
                        'Authors',
                        'Contributors',
                        'Abstract',
                        'Methods',
                        'Temporal extent',
                        'Geographic extent',
                        'Vertical extent',
                        'Publisher',
                        'DOI',
                        'Keywords',
                        'License',
                        'Data',
                        hide_id=True
                    ) %}
                        {% if prop == 'Title' %}
                            <strong>{{ datacite_metadata.titles[0].title }}</strong>

                        {% elif prop == 'Authors' %}
                            {% for creator in datacite_metadata.creators %}
                                <p>{{ creator.name }}<br/>
                                    <small>{{ creator.affiliation | map(attribute='affiliation') | join('<br/>') | safe }}</small>
                                </p>
                            {% endfor %}

                        {% elif prop == 'Contributors' %}
                            {% for contributor in datacite_metadata.contributors %}
                                <p>{{ contributor.contributorType | datacite_enum }}: {{ contributor.name }}<br/>
                                    <small>{{ contributor.affiliation | map(attribute='affiliation') | join('<br/>') | safe }}</small>
                                </p>
                            {% endfor %}

                        {% elif prop == 'Abstract' %}
                            {{ datacite_metadata.descriptions | selectattr('descriptionType', '==', 'Abstract') | map(attribute='description') | first }}

                        {% elif prop == 'Methods' %}
                            {{ datacite_metadata.descriptions | selectattr('descriptionType', '==', 'Methods') | map(attribute='description') | first }}

                        {% elif prop == 'Temporal extent' %}
                            {% if record.temporal_start %}
                                {{ record.temporal_start | date }}
                                {% if record.temporal_end %}
                                    &ndash; {{ record.temporal_end | date }}
                                {% endif %}
                            {% endif %}

                        {% elif prop == 'Geographic extent' %}
                            <div id="map"></div>
                            {% for place in datacite_metadata.geoLocations | map(attribute='geoLocationPlace') %}
                                <p class="mt-3">
                                    {{ place }}
                                </p>
                            {% endfor %}
                            {% if N is not none and E is not none and S is not none and W is not none %}
                                <p class="mt-3">
                                    {% if N == S and E == W %}
                                        Lat: {{ N }}<br/>
                                        Lon: {{ E }}
                                    {% else %}
                                        North: {{ N }}<br/>
                                        South: {{ S }}<br/>
                                        West: {{ W }}<br/>
                                        East: {{ E }}
                                    {% endif %}
                                </p>
                            {% endif %}

                        {% elif prop == 'Vertical extent' %}
                            {% if iso19115_metadata and iso19115_metadata.extent.verticalElement %}
                                {% set vert = iso19115_metadata.extent.verticalElement %}
                                Max: {{ vert.maximumValue }} {{ vert.unitOfMeasure }} <br/>
                                Min: {{ vert.minimumValue }} {{ vert.unitOfMeasure }}
                            {% endif %}

                        {% elif prop == 'Publisher' %}
                            {{ datacite_metadata.publisher }} ({{ datacite_metadata.publicationYear }})

                        {% elif prop == 'DOI' %}
                            {{ record.doi if record.doi }}

                        {% elif prop == 'Keywords' %}
                            {{ record.keywords | join(', ') }}

                        {% elif prop == 'License' %}
                            <a href="{{ datacite_metadata.rightsList[0].rightsURI }}" target="_blank">
                                {{ datacite_metadata.rightsList[0].rights }}
                            </a>

                        {% elif prop == 'Data' %}
                            {% if datacite_metadata.immutableResource %}
                                <a href="{{ datacite_metadata.immutableResource.resourceDownload.downloadURL }}" class="btn btn-primary">
                                    Download
                                </a>
                            {% else %}
                                n/a
                            {% endif %}

                        {% endif %}
                    {% endcall %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if N is not none and E is not none and S is not none and W is not none %}
        <script>
            createExtentMap({{ N }}, {{ E }}, {{ S }}, {{ W }});
        </script>
    {% endif %}
{% endblock %}
