{% extends 'base.html' %}
{% from 'catalog.j2' import render_metadata %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {% set datacite_metadata = record | select_datacite_metadata %}
        {{ datacite_metadata.titles[0].title }}
    {% endblock %}
{% endblock %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-lg">
            <div class="m-5 p-5 pt-0">
                {{ render_metadata(record, current_user, sdg_vocab) }}
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {% set N, E, S, W = record.spatial_north, record.spatial_east, record.spatial_south, record.spatial_west %}
    {% if N is not none and E is not none and S is not none and W is not none %}
        <script>
            createExtentMap({{ N }}, {{ E }}, {{ S }}, {{ W }});
        </script>
    {% endif %}

    {% set ris_metadata = record | select_ris_metadata %}
    {% if ris_metadata and ris_metadata.ris %}
        <script>
            setRIS("{{ (ris_metadata.ris).replace('\n', '\\n') }}");
        </script>
    {% endif %}

    {% if record.doi %}
        <script>
            initCitation('apa');
            formatCitation('{{ record.doi }}');
        </script>
    {% endif %}

    {% set schemaorg_metadata = record | select_schemaorg_metadata %}
    {% if schemaorg_metadata %}
        <script type="application/ld+json">
            {{ schemaorg_metadata | format_json | safe }}
        </script>
    {% endif %}
{% endblock %}
