{% extends 'base.html' %}
{% from 'macros.html' import render_catalog_search_form, render_table, obj_link %}

{% block main %}
    <main class="flex-grow-1 mx-4">
        <div class="container-fluid p-0">
            {{ render_catalog_search_form(search_form, full=True) }}
        </div>
        <div class="mt-4">
            {% call(record) render_table(records, 'Identifier', 'Title', 'Temporal coverage', hide_id=True, filter_=filter_) %}
                {% set metadata = (record.metadata | selectattr('schema_id', '==', 'SAEON.DataCite4') | first).metadata %}
                <th scope="row">{{ obj_link('catalog', record.doi or record.id) }}</th>
                <td>
                    {{ metadata.titles[0].title }}
                </td>
                <td>
                    {% if record.temporal_start %}
                        {{ record.temporal_start | date }}
                        {% if record.temporal_end %}
                            &ndash; {{ record.temporal_end | date }}
                        {% endif %}
                    {% endif %}
                </td>
            {% endcall %}
        </div>
    </main>
{% endblock %}
