<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block web_title %}
        {% endblock %}
    </title>

    {% block favicon %}
        <link rel="icon" href="{{ url_for('static', filename='nrf-favicon.ico') }}">
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    {% endblock %}
</head>

<body>
<div class="d-flex flex-column min-vh-100">
    {% block header %}
    {% endblock %}

    <section class="d-flex flex-column align-self-center m-3">
        {% from 'page.j2' import flash_messages %}
        {{ flash_messages() }}
    </section>

    {% block main %}
        <main class="flex-grow-1 mx-4">
            <p class="h3">
                {% block heading %}
                {% endblock %}
            </p>
            <div class="mt-4">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    {% endblock %}

    {% block footer %}
    {% endblock %}
</div>

{% block scripts %}
    {% from 'lib.j2' import bootstrap_js %}
    {{ bootstrap_js() }}
    <script>
        const rootPath = {{ request.script_root | tojson }};
    </script>
{% endblock %}

</body>
</html>
