<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block web_title %}
        {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block favicon %}
        <link rel="icon" href="{{ url_for('static', filename='nrf-favicon.ico') }}">
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    {% endblock %}

</head>
<body>

<div class="d-flex flex-column min-vh-100">
    {% block header %}
    {% endblock %}

    <section class="d-flex flex-column align-self-center m-3">
        {% from 'macros.html' import flash_messages %}
        {{ flash_messages() }}
    </section>

    {% block main %}
        <main class="flex-grow-1 mx-4">
            <p class="h3">
                {% block heading %}
                {% endblock %}
            </p>
            <div class="mt-4">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    {% endblock %}

    <hr class="mt-4"/>
    <footer class="text-center pb-3 pt-0">
        <small>
            ODP v{{config.ODP_VERSION}}
        </small>
        <br/>
        <small>
            Copyright &copy; <script>document.write(new Date().getFullYear())</script>
            <a href="https://www.saeon.ac.za/" target="_blank" class="text-decoration-none">
                SAEON
            </a>
        </small>
        <br/>
        <small>
            <a href="https://www.nrf.ac.za/privacy-policy/" target="_blank" class="text-decoration-none">
                NRF Privacy Policy
            </a>
        </small>
    </footer>
</div>

{% block scripts %}
    {% from 'lib.j2' import bootstrap_js %}
    {{ bootstrap_js() }}
    <script>
        const rootPath = {{ request.script_root | tojson }};
    </script>
{% endblock %}

</body>
</html>
