{% extends 'base.html' %}
{% from 'content.j2' import render_info, render_table, obj_info_popup, render_button %}
{% from 'controls.j2' import tabs %}
{% from 'forms.j2' import render_button_dialog_form, render_field, render_delete_button_form %}
{% from 'editor.j2' import init_editor, render_editor %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Package: {{ package.title }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(tab_id) tabs(
        'overview',
        overview='Overview',
        contributors='Contributors',
        resources='Resources',
        sdgs='SDGs',
        metadata='Metadata'
    ) %}
        {% if tab_id == 'overview' %}
            {% call(prop) render_info(package,
                    'Title',
                    'DOI',
                    'Abstract',
                    'Methods (Lineage)',
                    'Contributors',
                    'Resources',
                    'SDGs',
                    'Temporal extent',
                    'Geographic extent',
                    'Data provider',
                    'Package status',
                    'Last modified',
                    hide_id=true
            ) %}

                {% if prop == 'Title' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ package.title }}
                        </div>
                        <div>
                            {{ render_button(edit_btn, edit_icon=true) }}
                        </div>
                    </div>

                {% elif prop == 'DOI' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ doi_tag.data.doi if doi_tag }}
                        </div>
                        <div class="row gx-1">
                            {% set doi_enabled = doi_btn.scope in g.user_permissions %}
                            {% if doi_enabled %}
                                <div class="col">
                                    {{ render_button_dialog_form(
                                        doi_btn, doi_form, 'tag-doi', edit_icon=true,
                                        reload_on_cancel=(doi_tag is not none)
                                    ) }}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form(
                                        '.untag_doi', 'DOI', enabled=(doi_tag is not none),
                                        id=package.id, tag_instance_id=doi_tag.id
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Abstract' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ abstract_tag.data.abstract | safe if abstract_tag }}
                        </div>
                        <div class="row gx-1">
                            {% set abstract_enabled = abstract_btn.scope in g.user_permissions %}
                            {% if abstract_enabled %}
                                <div class="col">
                                    {% call render_button_dialog_form(
                                        abstract_btn, abstract_form, 'tag-abstract', edit_icon=true,
                                        reload_on_cancel=(abstract_tag is not none)
                                    ) %}
                                        {{ render_editor('abstract') }}
                                        {{ abstract_form.abstract_hidden }}
                                    {% endcall %}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form(
                                        '.untag_abstract', 'abstract', enabled=(abstract_tag is not none),
                                        id=package.id, tag_instance_id=abstract_tag.id
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Methods (Lineage)' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ lineage_tag.data.lineage | safe if lineage_tag }}
                        </div>
                        <div class="row gx-1">
                            {% set lineage_enabled = lineage_btn.scope in g.user_permissions %}
                            {% if lineage_enabled %}
                                <div class="col">
                                    {% call render_button_dialog_form(
                                        lineage_btn, lineage_form, 'tag-lineage', edit_icon=true,
                                        reload_on_cancel=(lineage_tag is not none)
                                    ) %}
                                        {{ render_editor('lineage') }}
                                        {{ lineage_form.lineage_hidden }}
                                    {% endcall %}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form(
                                        '.untag_lineage', 'lineage', enabled=(lineage_tag is not none),
                                        id=package.id, tag_instance_id=lineage_tag.id
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Contributors' %}
                    {{ contrib_tags['items'] | length }}

                {% elif prop == 'Resources' %}
                    {{ package.resource_ids | length }}

                {% elif prop == 'SDGs' %}
                    {% for sdg_tag in sdg_tags['items'] %}
                        {{ sdg_tag.keyword }}
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}

                {% elif prop == 'Geographic extent' %}
                    <div class="d-flex justify-content-between">
                        <div class="pe-4">
                            {% if geoloc_tag %}
                                <div id="map"></div>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1">
                            {% if geoloc_tag %}
                                <p class="mt-3">
                                    {{ geoloc_tag.data.place }}
                                </p>
                                {% set N, E, S, W = geoloc_tag.data.north, geoloc_tag.data.east, geoloc_tag.data.south, geoloc_tag.data.west %}
                                {% if geoloc_tag.data.shape == 'point' %}
                                    Lat: {{ N }}<br/>
                                    Lon: {{ E }}
                                {% else %}
                                    North: {{ N }}<br/>
                                    South: {{ S }}<br/>
                                    West: {{ W }}<br/>
                                    East: {{ E }}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row gx-1">
                            {% set geoloc_enabled = geoloc_btn.scope in g.user_permissions %}
                            {% if geoloc_enabled %}
                                <div class="col">
                                    {% call render_button_dialog_form(
                                        geoloc_btn, geoloc_form, 'tag-geoloc', edit_icon=true,
                                        reload_on_cancel=(geoloc_tag is not none)
                                    ) %}
                                        {{ render_field(geoloc_form.place) }}
                                        {{ render_field(geoloc_form.shape, onchange='selectGeoShape();') }}
                                        {{ render_field(geoloc_form.north) }}
                                        <div id="geo_region_grp" class="visually-hidden">
                                            {{ render_field(geoloc_form.south) }}
                                            {{ render_field(geoloc_form.west) }}
                                        </div>
                                        {{ render_field(geoloc_form.east) }}
                                    {% endcall %}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form(
                                        '.untag_geolocation',
                                        confirm_msg='Are you sure you want to delete the geographic location data?',
                                        enabled=(geoloc_tag is not none),
                                        id=package.id, tag_instance_id=geoloc_tag.id
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Temporal extent' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {% if daterange_tag %}
                                {{ daterange_tag.data.start }} &ndash; {{ daterange_tag.data.end }}
                            {% endif %}
                        </div>
                        <div class="row gx-1">
                            {% set daterange_enabled = daterange_btn.scope in g.user_permissions %}
                            {% if daterange_enabled %}
                                <div class="col">
                                    {{ render_button_dialog_form(
                                        daterange_btn, daterange_form, 'tag-daterange', edit_icon=true,
                                        reload_on_cancel=(daterange_tag is not none)
                                    ) }}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form(
                                        '.untag_daterange', 'date range', enabled=(daterange_tag is not none),
                                        id=package.id, tag_instance_id=daterange_tag.id
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Data provider' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ package.provider_key }}
                        </div>
                        <div>
                            {{ render_button(edit_btn, edit_icon=true) }}
                        </div>
                    </div>

                {% elif prop == 'Package status' %}
                    {{ package.status }}

                {% elif prop == 'Last modified' %}
                    {{ package.timestamp | timestamp }}

                {% endif %}
            {% endcall %}

            <div class="mt-4 btn-toolbar">
                {% if package.status == 'pending' %}
                    {{ render_button(submit_btn) }}
                {% elif package.status == 'submitted' %}
                    {{ render_button(cancel_btn) }}
                {% endif %}
            </div>

        {% elif tab_id == 'contributors' %}
            {% set contrib_enabled = contrib_btn.scope in g.user_permissions %}
            {% set institution_enabled = institution_btn.scope in g.user_permissions %}

            {% call(contrib_tag) render_table(contrib_tags,
                    'Name', 'Author', 'Role', 'ORCID', 'Contact Information', 'Affiliation(s)', hide_id=true
            ) %}
                <td>{{ contrib_tag.data.name }}</td>
                <td>{{ '&#9989;' | safe if contrib_tag.data.is_author }}</td>
                <td>{{ contrib_tag.data.role | uncamel }}</td>
                <td>
                    {% if contrib_tag.data.orcid %}
                        <a href="{{ contrib_tag.data.orcid }}" target="_blank" class="text-decoration-none">
                            {{ contrib_tag.data.orcid }}
                        </a>
                    {% endif %}
                </td>
                <td>{{ contrib_tag.data.contact_info }}</td>
                <td>
                    {% for keyword_id in contrib_tag.data.affiliations %}
                        {% set keyword_obj = keyword_id | keyword %}
                        {{ keyword_obj.key }}
                        {% if keyword_obj.data.abbr %}
                            ({{ keyword_obj.data.abbr }})
                        {% endif %}
                        {% if not loop.last %}<br/>{% endif %}
                    {% endfor %}
                </td>

                {% if contrib_enabled %}
                    <td class="text-end">
                        {{ render_delete_button_form(
                            '.untag_contributor', 'contributor',
                            id=package.id, tag_instance_id=contrib_tag.id
                        ) }}
                    </td>
                {% endif %}
            {% endcall %}

            {% if contrib_enabled %}
                <div class="mt-4 btn-toolbar">
                    <div class="me-3">
                        {% call render_button_dialog_form(
                            contrib_btn, contrib_form, 'tag-contributor'
                        ) %}
                            {{ render_field(contrib_form.name) }}
                            {{ render_field(contrib_form.is_author, onchange='toggleContribAuthor();') }}
                            <div id="author_role_grp" class="visually-hidden">
                                {{ render_field(contrib_form.author_role, onchange='selectContribRole();') }}
                            </div>
                            <div id="contributor_role_grp">
                                {{ render_field(contrib_form.contributor_role, onchange='selectContribRole();') }}
                            </div>
                            <div id="contact_info_grp" class="visually-hidden">
                                {{ render_field(contrib_form.contact_info) }}
                            </div>
                            {{ render_field(contrib_form.orcid, oninput='updateORCID();') }}
                            {{ render_field(contrib_form.affiliations, style="height: 200px") }}
                        {% endcall %}
                    </div>
                    <div>
                        {% call render_button_dialog_form(
                            institution_btn, institution_form, 'add-institution'
                        ) %}
                            {{ render_field(institution_form.key) }}
                            {{ render_field(institution_form.abbr) }}
                            {{ render_field(institution_form.ror, oninput='updateROR();') }}
                        {% endcall %}
                    </div>
                </div>
            {% endif %}

        {% elif tab_id == 'sdgs' %}
            {% set sdg_enabled = sdg_btn.scope in g.user_permissions %}
            {% set institution_enabled = institution_btn.scope in g.user_permissions %}

            {% call(sdg_tag) render_table(sdg_tags,
                    'SDG', 'Goal', 'Target', 'Indicator', hide_id=true
            ) %}
                {% set goal_kw = sdg_tag.keyword_ids[0] | keyword %}
                {% if sdg_tag.keyword_ids | length > 1 %}
                    {% set target_kw = sdg_tag.keyword_ids[1] | keyword %}
                {% endif %}
                {% if sdg_tag.keyword_ids | length > 2 %}
                    {% set indicator_kw = sdg_tag.keyword_ids[2] | keyword %}
                {% endif %}
                <th>
                    {{ goal_kw.key }} {{ goal_kw.data.title }}
                </th>
                <td>
                    {{ goal_kw.key }} {{ goal_kw.data.goal }}
                </td>
                <td>
                    {% if target_kw %}
                        {{ target_kw.key }} {{ target_kw.data.target }}
                    {% else %}
                        All
                    {% endif %}
                </td>
                <td>
                    {% if indicator_kw %}
                        {{ indicator_kw.key }} {{ indicator_kw.data.indicator }}
                    {% else %}
                        All
                    {% endif %}
                </td>

                {% if sdg_enabled %}
                    <td class="text-end">
                        {{ render_delete_button_form(
                            '.untag_sdg', 'sdg',
                            id=package.id, tag_instance_id=sdg_tag.id
                        ) }}
                    </td>
                {% endif %}
            {% endcall %}

            {% if sdg_enabled %}
                <div class="mt-4 btn-toolbar">
                    <div class="me-3">
                        {% call render_button_dialog_form(
                            sdg_btn, sdg_form, 'tag-sdg'
                        ) %}
                            {{ render_field(sdg_form.goal, onchange='populateSDGTargets();') }}
                            {{ render_field(sdg_form.target, onchange='populateSDGIndicators();') }}
                            {{ render_field(sdg_form.indicator) }}
                        {% endcall %}
                    </div>
                </div>
            {% endif %}

        {% elif tab_id == 'resources' %}
            {% call(resource) render_table(resources,
                    'Package path', 'File size', 'Content type', '',
                    hide_id=true
            ) %}
                <td>
                    {% set resource_path = resource.package_paths[package.id] %}
                    {% call(prop) obj_info_popup(
                        resource.id, resource_path, 'Resource: ' + resource_path,
                        'Title', 'Description', 'File name', 'File size', 'Content type', 'Checksum',
                        'Provider', 'Resource id', 'Last modified'
                    ) %}
                        {% if prop == 'Title' %}
                            {{ resource.title if resource.title }}
                        {% elif prop == 'Description' %}
                            {{ resource.description if resource.description }}
                        {% elif prop == 'File name' %}
                            {{ resource.filename }}
                        {% elif prop == 'File size' %}
                            {{ resource.size | bytes(verbose=true) }}
                        {% elif prop == 'Content type' %}
                            {{ resource.mimetype }}
                        {% elif prop == 'Checksum' %}
                            [{{ resource.hash_algorithm }}] {{ resource.hash }}
                        {% elif prop == 'Last modified' %}
                            {{ resource.timestamp | timestamp }}
                        {% elif prop == 'Provider' %}
                            {{ resource.provider_key }}
                        {% elif prop == 'Resource id' %}
                            {{ resource.id }}
                        {% endif %}
                    {% endcall %}
                </td>
                <td>
                    {{ resource.size | bytes }}
                </td>
                <td>
                    {{ resource.mimetype }}
                </td>

                {% if can_edit %}
                    <td class="text-end">
                        {{ render_delete_button_form(
                            '.delete_resource', 'resource',
                            id=package.id, resource_id=resource.id
                        ) }}
                    </td>
                {% endif %}
            {% endcall %}

            {% if can_edit %}
                <div class="mt-4 btn-toolbar">
                    <div class="me-3">
                        {% call render_button_dialog_form(
                            file_btn, file_form, 'upload-file', file_upload=true
                        ) %}
                            {{ render_field(file_form.title) }}
                            {{ render_field(file_form.description) }}
                            {{ render_field(file_form.file, onchange='fileSelected();') }}
                            {{ render_field(file_form.size) }}
                            {{ render_field(file_form.mimetype) }}
                            {{ render_field(file_form.sha256) }}
                        {% endcall %}
                    </div>
                    <div class="">
                        {% call render_button_dialog_form(
                            zip_btn, zip_form, 'upload-zip', file_upload=true
                        ) %}
                            {{ render_field(zip_form.zip_file, onchange='fileSelected(zip=true);') }}
                            {{ render_field(zip_form.zip_size) }}
                            {{ render_field(zip_form.zip_mimetype) }}
                            {{ render_field(zip_form.zip_sha256) }}
                        {% endcall %}
                    </div>
                </div>
            {% endif %}

        {% elif tab_id == 'metadata' %}
            <pre class="m-3">
                {{- package.metadata | format_json -}}
            </pre>

        {% endif %}
    {% endcall %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        {% if active_modal_id %}
            $(window).on('load', function () {
                showModal('{{ active_modal_id }}', {{ active_modal_reload_on_cancel | lower }});
            });
        {% endif %}

        {% if geoloc_tag %}
            {% set N, E, S, W = geoloc_tag.data.north, geoloc_tag.data.east, geoloc_tag.data.south, geoloc_tag.data.west %}
            {% if geoloc_tag.data.shape == 'point' %}
                createExtentMap({{ N }}, {{ E }}, {{ N }}, {{ E }}, '250px', '400px');
            {% else %}
                createExtentMap({{ N }}, {{ E }}, {{ S }}, {{ W }}, '250px', '400px');
            {% endif %}
        {% endif %}

        initHashTabs();
        toggleContribAuthor();
        updateORCID();
        updateROR();
        selectGeoShape();
        loadSDGVocabulary();
    </script>

    {{ init_editor(
        element_id='abstract',
        modal_id='tag-abstract',
        form_id='tag-abstract-form',
        field_id='abstract_hidden',
        content=abstract_tag.data.abstract if abstract_tag
    ) }}

    {{ init_editor(
        element_id='lineage',
        modal_id='tag-lineage',
        form_id='tag-lineage-form',
        field_id='lineage_hidden',
        content=lineage_tag.data.lineage if lineage_tag
    ) }}

{% endblock %}
