{% extends 'base.html' %}
{% from 'content.j2' import render_tabs, render_info, render_table, obj_info_popup %}
{% from 'forms.j2' import render_button_dialog_form, render_field, render_delete_button_form %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Package: {{ package.title }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% call(tab_id) render_tabs(
        active_tab_id,
        overview='Overview',
        contributors='Contributors',
        resources='Resources'
    ) %}
        {% if tab_id == 'overview' %}
            {% call(prop) render_info(package,
                    'Title', 'DOI', 'Contributors', 'Resources', 'Geographic location',
                    'Data provider', 'Package status', 'Last modified', hide_id=true
            ) %}

                {% if prop == 'Title' %}
                    {{ package.title }}

                {% elif prop == 'DOI' %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ doi_tag.data.doi if doi_tag }}
                        </div>
                        <div class="row gx-1">
                            {% set doi_enabled = doi_btn.scope in g.user_permissions %}
                            {% if doi_enabled %}
                                <div class="col">
                                    {{ render_button_dialog_form(doi_btn, doi_form, 'tag-doi', edit_icon=true) }}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form('.untag_doi', 'DOI', enabled=(doi_tag is not none),
                                        id=package.id, tag_instance_id=doi_tag.id) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Contributors' %}
                    {% for contrib_tag in contrib_tags['items'] %}
                        {{ contrib_tag.data.role | uncamel }}: {{ contrib_tag.data.name }}
                        {% if not loop.last %}<br/>{% endif %}
                    {% endfor %}

                {% elif prop == 'Resources' %}
                    {{ package.resource_ids | length }}

                {% elif prop == 'Geographic location' %}
                    <div class="d-flex justify-content-between">
                        <div class="pe-4">
                            {% if geoloc_tag %}
                                <div id="map"></div>
                            {% endif %}
                        </div>
                        <div class="flex-grow-1">
                            {% if geoloc_tag %}
                                <p class="mt-3">
                                    {{ geoloc_tag.data.place }}
                                </p>
                                {% set N, E, S, W = geoloc_tag.data.north, geoloc_tag.data.east, geoloc_tag.data.south, geoloc_tag.data.west %}
                                {% if geoloc_tag.data.shape == 'point' %}
                                    Lat: {{ N }}<br/>
                                    Lon: {{ E }}
                                {% else %}
                                    North: {{ N }}<br/>
                                    South: {{ S }}<br/>
                                    West: {{ W }}<br/>
                                    East: {{ E }}
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="row gx-1">
                            {% set geoloc_enabled = geoloc_btn.scope in g.user_permissions %}
                            {% if geoloc_enabled %}
                                <div class="col">
                                    {% call render_button_dialog_form(geoloc_btn, geoloc_form, 'tag-geoloc', edit_icon=true) %}
                                        {{ render_field(geoloc_form.place) }}
                                        {{ render_field(geoloc_form.shape, onchange='toggleGeoPointRegion();') }}
                                        {{ render_field(geoloc_form.north) }}
                                        <div id="geo_region_grp" class="visually-hidden">
                                            {{ render_field(geoloc_form.south) }}
                                            {{ render_field(geoloc_form.west) }}
                                        </div>
                                        {{ render_field(geoloc_form.east) }}
                                    {% endcall %}
                                </div>
                                <div class="col">
                                    {{ render_delete_button_form(
                                        '.untag_geolocation',
                                        confirm_msg='Are you sure you want to delete the geographic location data?',
                                        enabled=(geoloc_tag is not none),
                                        id=package.id, tag_instance_id=geoloc_tag.id) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                {% elif prop == 'Data provider' %}
                    {{ package.provider_key }}

                {% elif prop == 'Package status' %}
                    {{ package.status }}

                {% elif prop == 'Last modified' %}
                    {{ package.timestamp | timestamp }}

                {% endif %}
            {% endcall %}

        {% elif tab_id == 'contributors' %}
            {% set contrib_enabled = contrib_btn.scope in g.user_permissions %}

            {% call(contrib_tag) render_table(contrib_tags,
                    'Name', 'Author', 'Role', 'ORCID', 'Affiliation(s)', hide_id=true
            ) %}
                <td>{{ contrib_tag.data.name }}</td>
                <td>{{ '&#9989;' | safe if contrib_tag.data.is_author }}</td>
                <td>{{ contrib_tag.data.role }}</td>
                <td>{{ contrib_tag.data.orcid }}</td>
                <td>{{ contrib_tag.data.affiliations | join('<br/>') | safe }}</td>

                {% if contrib_enabled %}
                    <td class="text-end">
                        {{ render_delete_button_form('.untag_contributor', 'contributor',
                            id=package.id, tag_instance_id=contrib_tag.id) }}
                    </td>
                {% endif %}
            {% endcall %}

            {% if contrib_enabled %}
                <div class="mt-4">
                    {% call render_button_dialog_form(contrib_btn, contrib_form, 'tag-contributor') %}
                        {{ render_field(contrib_form.name) }}
                        {{ render_field(contrib_form.is_author, onchange='toggleContributorAuthor();') }}
                        <div id="author_role_grp" class="visually-hidden">
                            {{ render_field(contrib_form.author_role) }}
                        </div>
                        <div id="contributor_role_grp">
                            {{ render_field(contrib_form.contributor_role) }}
                        </div>
                        {{ render_field(contrib_form.orcid) }}
                        {{ render_field(contrib_form.affiliations, style="height: 150px") }}
                    {% endcall %}
                </div>
            {% endif %}

        {% elif tab_id == 'resources' %}
            {% call(resource) render_table(resources,
                    'Title', 'File name', 'File size', 'Content type',
                    hide_id=true
            ) %}
                <td>
                    {% call(prop) obj_info_popup(
                        resource.id, resource.title, 'Resource: ' + resource.title,
                        'Title', 'Description', 'Provider', 'Archive path',
                        'File name', 'File size', 'Content type', 'MD5 checksum',
                        'Resource id', 'Last modified'
                    ) %}
                        {% if prop == 'Title' %}
                            {{ resource.title }}
                        {% elif prop == 'Description' %}
                            {{ resource.description }}
                        {% elif prop == 'File name' %}
                            {{ resource.filename }}
                        {% elif prop == 'File size' %}
                            {{ resource.size | bytes(verbose=true) }}
                        {% elif prop == 'Content type' %}
                            {{ resource.mimetype }}
                        {% elif prop == 'MD5 checksum' %}
                            {{ resource.md5 }}
                        {% elif prop == 'Provider' %}
                            {{ resource.provider_key }}
                        {% elif prop == 'Archive path' %}
                            {% for archive_id, path in resource.archive_paths | dictsort %}
                                {{ archive_id }}/{{ path }}
                                {% if not loop.last %}<br/>{% endif %}
                            {% endfor %}
                        {% elif prop == 'Last modified' %}
                            {{ resource.timestamp | timestamp }}
                        {% elif prop == 'Resource id' %}
                            {{ resource.id }}
                        {% endif %}
                    {% endcall %}
                </td>
                <td>{{ resource.filename }}</td>
                <td>{{ resource.size | bytes }}</td>
                <td>{{ resource.mimetype }}</td>

                {% if can_edit %}
                    <td class="text-end">
                        {{ render_delete_button_form('.delete_resource', 'resource',
                            id=package.id, resource_id=resource.id) }}
                    </td>
                {% endif %}
            {% endcall %}

            {% if can_edit %}
                <div class="mt-4">
                    {{ render_button_dialog_form(resource_btn, resource_form, 'add-resource', file_upload=true) }}
                </div>
            {% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        {% if active_modal_id %}
            $(window).on('load', function () {
                $('#{{ active_modal_id }}').modal('show');
            });
        {% endif %}

        {% if geoloc_tag %}
            {% set N, E, S, W = geoloc_tag.data.north, geoloc_tag.data.east, geoloc_tag.data.south, geoloc_tag.data.west %}
            {% if geoloc_tag.data.shape == 'point' %}
                createExtentMap({{ N }}, {{ E }}, {{ N }}, {{ E }}, '300px', '600px');
            {% else %}
                createExtentMap({{ N }}, {{ E }}, {{ S }}, {{ W }}, '300px', '600px');
            {% endif %}
        {% endif %}

        toggleContributorAuthor();
        toggleGeoPointRegion();
    </script>
{% endblock %}
