html {
    font-size: 14px;
}

.btn-action {
    min-width: 75px;
}

.btn-icon {
    height: 24px;
    width: 24px;
    padding: 0 !important;
}

.flex-grow-evenly {
    flex-basis: 0;
    flex-grow: 1;
}

pre, .pre-wrap {
    white-space: pre-wrap;
}

#map {
}

#map a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.mims-logo-color {
    color: #3E8A93;
}

.mims-bg-color-light {
    background-color: #72C6D0;
}

.mims-bg-color-mid {
    background-color: #408A93;
}

.mims-bg-color-dark {
    background-color: #357B83;
}


/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;``
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}