html {
    font-size: 14px;
}

.btn-action {
    min-width: 75px;
}

.btn-row-delete {
    height: 24px;
    width: 24px;
}

.flex-grow-evenly {
    flex-basis: 0;
    flex-grow: 1;
}

pre {
    white-space: pre-wrap;
}

#map {
}

#map a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.mims-logo-color {
    color: #3E8A93;
}

.mims-bg-color-light {
    background-color: #72C6D0;
}

.mims-bg-color-mid {
    background-color: #408A93;
}

.mims-bg-color-dark {
    background-color: #357B83;
}
